{% extends 'base.html.twig' %}

{% block title %}{% trans %}Issues{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Práctica{% endtrans %}</h1>


    <a href="{{ path('app_login') }}">{% trans %}Login{% endtrans %}</a>
{% endblock %}
