{% extends 'base.html.twig' %}
{% form_theme formSearch 'bootstrap_4_horizontal_layout.html.twig' %}

{% block title %}{% trans %}Issues{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Issues{% endtrans %}</h1>

    {{ form(formSearch) }}

    <table id="issueTable" class="table">
        <thead>
            <tr>
                <th>{% trans %}Title{% endtrans %}</th>
                <th>{% trans %}Client email{% endtrans %}</th>
                <th>{% trans %}Solved{% endtrans %}</th>
                <th>{% trans %}Created at{% endtrans %}</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            {% for issue in issues %}
                <tr class="ajax-row">
                    {% include 'issue/line.html.twig' %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">{% trans %}No issues found{% endtrans %}.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(issues) }}
    </div>

    <a href="{{ path('issue_new') }}"class="btn btn-primary">{% trans %}Create new{% endtrans %}</a>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).on("click", ".btn-solved", function(e) {
            e.preventDefault();
            var $this = $(this);
            var url = $this.attr('href');
            var id = $this.data('id');
            var $originalButton = $this;
            var closeModal = true;
            var params = 'id='+id;
            $.ajax({
                type: 'post',
                url: url,
                data: params,
                async: false,
                success: function(data){
                    var $newRow = $(data);
                    var row = $originalButton.closest('.ajax-row');
                    row.empty();
                    row.append($newRow.html());
                },
                error: function(data) {
                   alert($(data));
                }
            });
        });


        $(document).on("click", ".btn-edit", function(e) {
            e.preventDefault();
            var $this = $(this);
            var url = $this.attr('href');
            var formName = $this.data('modalForm');
            var dialogTitle = $this.data('modalTitle');
            var closeModal = false;

            $.ajax({
                type: 'get',
                url: url,
                cache: false,
                success: function (data) {
                    var myDialog = bootbox.dialog({
                        title: dialogTitle,
                        message: '<div class="ajax-row">'+data+'</div>',
                        closeButton: true,
                        buttons: {
                            success: {
                                label: "Guardar",
                                className: "btn-success",
                                callback: function () {
                                    var $form = $('form[name='+formName+']');
                                    if ( !$form.hasClass('modal-form-processed')) {
                                        $form.on( "submit", function(event) {
                                            event.preventDefault();
                                            $(this).addClass('modal-form-processed');
                                            var div = $(this).closest('.ajax-row');
                                            var request_method = $(this).attr("method");
                                            var form_data = $(this).serialize();
                                            closeModal = true;
                                            $.ajax({
                                                url: url,
                                                type: request_method,
                                                data: form_data,
                                                success: function (data) {
                                                    if ($this.data('ajaxTarget') !== undefined ) {
                                                        if (data.content) {
                                                            var $editRow = $(data.content);
                                                        } else {
                                                            var $editRow = $(data);
                                                        }
                                                        var tr = $this.closest('.ajax-row');
                                                        tr.empty();
                                                        tr.append($editRow);
                                                        myDialog.modal('hide');
                                                    } else {
                                                        location.reload();
                                                    }
                                                },
                                                error: function(data) {
                                                    div.empty();
                                                    div.html(data.responseText);
                                                }
                                            });

                                            return closeModal;
                                        });
                                    }
                                    $form.submit();

                                    return false;
                                }
                            },
                            cancel: {
                                label: "Cancelar",
                                callback: function () {
                                }
                            }
                        }
                    });
                },
                error: function(data) {
                }
            });
        });

    </script>
{% endblock %}
